* {
    box-sizing: border-box;
}

.main-container {
    display: -webkit-inline-flex;
    display: inline-flex;
    width: 100vw;
    justify-content: space-around;
    align-items: normal;
    flex-wrap: wrap-reverse;
}

.main-container-item {
    flex-grow: 1;
    text-align: left;
    font-family: "Neo Sans Cyr", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    padding: 8px;
    overflow: auto;
}

table.contacts {
    max-width: 1000px;
    width: 100%;
    font-family: Calibri, sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    border-spacing: 0;
    border-collapse: collapse;
}

.contacts th,
.contacts td {
    border: 1px solid #ccc;
    padding: 11px;
}

.contacts th {
    background: #3498db;
    color: #fff;
    font-weight: normal;
}

th.button-column {
    width: 50px;
}

.contacts tr:nth-child(odd) {
    background: #eee;
}

.contacts button {
    background-color: #fffaf0;
}

.width-center {
    text-align: center;
}

.add-contact div {
    max-width: 400px;
    padding-bottom: 10px;
    text-align: left;
}

.contact-label {
    display: block;
}

.error-message {
    color: #df370b;
    font-weight: bold;
    font-size: 16px;
}

.invalid-field {
    border-color: #df370b;
    border-width: 3px;
}