<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <script defer src="node_modules/jquery/dist/jquery.js"></script>
    <script defer src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script defer src="node_modules/vue/dist/vue.js"></script>
    <script defer src="script.js"></script>
    <title>Список дел</title>
</head>
<body class="px-2 py-2">
<div id="app">
    <div class="container">
        <h1 class="fs-3 mb-4">Список дел</h1>
        <form @submit.prevent class="fs-6 mb-4">
            <div class="row">
                <div class="col-12">
                    <label for="new-task" class="form-label">Введите новую задачу:</label>
                </div>
                <div class="col-12 col-sm">
                    <div class="row">
                        <div class="col-12">
                            <input :class="{ 'is-invalid': isNewItemInvalid }"
                                   v-model.trim="newItemText"
                                   type="text"
                                   class="form-control"
                                   id="new-task"
                                   name="new-task">
                            <div class="invalid-feedback">Нужно заполнить поле!</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-auto">
                    <div class="d-flex mt-2 mt-sm-0">
                        <button @click="addItem" type="submit" class="col btn btn-primary">
                            Добавить задачу в список дел
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <ul class="list-group list-group-flush list-group-numbered px-0 fs-6">
            <li v-for="(item, index) in items"
                :key="item.id"
                class="list-group-item d-flex flex-wrap align-items-center gap-2 text-success px-0 py-2">
                <template v-if="!item.isEditing">
                    <div v-text="item.text" class="col text-break"></div>
                    <div class="col-12 col-sm-7 col-md-5 col-lg-4 col-xl-3">
                        <div class="d-flex gap-2">
                            <button @click="editItem(item)" class="col btn btn-secondary btn-sm" type="button">
                                Редактировать
                            </button>
                            <button @click="deleteItem(index)" class="col btn btn-danger btn-sm" type="button">
                                Удалить
                            </button>
                        </div>
                    </div>
                </template>
                <template v-else>
                    <div class="col">
                        <input :class="{ 'is-invalid': item.isEditedItemInvalid }"
                                v-model.trim="item.editedText"
                                class="form-control"
                                type="text">
                        <div class="invalid-feedback">Нужно заполнить поле!</div>
                    </div>
                    <div class="col-12 col-sm-7 col-md-5 col-lg-4 col-xl-3">
                        <div class="d-flex gap-2">
                            <button @click="saveItem(item)" class="col btn btn-primary btn-sm" type="button">
                                Сохранить
                            </button>
                            <button @click="cancelEditing(item)" class="col btn btn-secondary btn-sm" type="button">
                                Отменить
                            </button>
                        </div>
                    </div>
                </template>
            </li>
        </ul>
    </div>
</div>
</body>
</html>