* {
    box-sizing: border-box;
}

body {
    font-family: Tahoma, sans-serif;
    font-size: 15px;
}

.input-container {
    padding: 0 10px;
}

.big-header {
    font-size: 20px;
}

.temperature-form > * {
    display: inline-block;
    vertical-align: top;
}

.error {
    display: none;
    color: #df370b;
    font-weight: bold;
}

.invalid-field {
    border-color: #df370b;
    border-width: 3px;
}

.temperature-value {
    color: #32cd32;
    font-weight: bold;
}

.output-container {
    padding: 0 10px;
}