* {
    box-sizing: border-box;
}

body {
    font-family: Tahoma, sans-serif;
    font-size: 15px;
}

.main-container {
    padding: 0 10px;
}

.big-header {
    font-size: 20px;
}

.tasks-form > * {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 10px;
}

.error {
    display: none;
    color: #df370b;
    font-weight: bold;
}

.invalid-field {
    border-color: #df370b;
    border-width: 3px;
}

.tasks-list {
    padding: 0 15px;
}

.task {
    margin-bottom: 10px;
    word-break: break-word;
}