* {
    box-sizing: border-box;
}

body > * {
    font-family: sans-serif;
    font-size: 15px;
    padding-left: 10px;
}

.big-header {
    font-size: 20px;
}

.tasks-form > * {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 10px;
}

.error {
    display: none;
    color: #df370b;
    font-weight: bold;
}

.invalid-field {
    border-color: #df370b;
    border-width: 3px;
}

.tasks-list {
    margin-left: 15px;
}

.task {
    margin-bottom: 10px;
}